.music-btn{
position:fixed;
bottom:20px;
right:20px;
width:55px;
height:55px;
background:linear-gradient(135deg,#ffd7ea,#d9c8ff);
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:24px;
cursor:pointer;
box-shadow:0 4px 15px rgba(192,132,252,0.2);
}

h1{
text-align:center;
color:#6c5ce7;
}

h2{
color:#db2777;
}

p{
line-height:1.7;
}

nav ul li{
display:inline-block;
margin:5px;
}

nav ul li a:hover{
background:linear-gradient(135deg,#ddd6fe,#fbcfe8);
}

@media(max-width:768px){

.home-box{
flex-direction:column;
text-align:center;
}

.hero-text{
width:100%;
}

.hero-image img{
width:200px;
height:200px;
}

.foto-potrait{
max-width:200px;
}

.foto-landscape{
max-width:100%;
}

nav{
width:95%;
padding:10px;
}

nav a{
font-size:12px;
padding:8px 10px;
}
